// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% => 1rem = 10px
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  // vw:viewport width  vh:viewport height
  // grid-template-rows: 1000px min-content 800px min-content min-content min-content;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  // grid-template-columns: repeat(8, 1fr); // this produces 8 equally columns
  // we use width for entire 8 columns: something between 1100px to 1200px
  // for example, we use 1140px/8 = 142.5px bzw. 140px or 14rem is width for every column
  // grid-template-columns: repeat(8, 14rem); // but when we decrease and increase the width
  // of the page, the width of every column doesn't change, to make it changeable, we use
  // minmax() function
  grid-template-columns: 8rem 1fr repeat(8, minmax(min-content, 14rem)) 1fr;
  // min would be min-content and max would be 14rem. So, we want to have 8 columns and every column
  // has to have width between min-content as minimum width and 140px as maximum width!
}
