.gallery {
  background-color: $color-grey-light-1;
  grid-column: full-start / full-end;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  // grid-template-rows: repeat(auto-fit, minmx(20vw, 1fr));
  grid-template-rows: repeat(7, 5vw); // 5% of view port width is a good choice
  // to define the height of the images!
  grid-gap: 1.5rem;
  padding: 1.5rem;

  &__item {
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover; // when we use this feature, we have to use height:100% absolutely,
    // otherwise, this feature will not work!
    display: block; // we will not see the white part of the image in compare when it is in
    // default mode: inline-block
  }

  // for all the children have the width of 100%
  // & > * {
  // }
}
