.header {
  background-color: $color-grey-dark-1;
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(rgba($color-secondary, 0.93), rgba($color-secondary, 0.93)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;

  // start with grid container:
  display: grid;
  grid-template-rows: 1fr min-content 6rem 1fr; // this is the 80% of view-port height!
  // without this 1fr, all the rows were equally divided and that's what we don't want!
  grid-row-gap: 1.5rem;

  &__logo {
    height: 3rem;
    justify-self: center; // only nexter logo will be placed in center!
  }

  &__btn {
    align-self: start; // put the button only at the top=> start but spanned all over the row!
    justify-self: start; // place the button at the start of the row=> on top and at the left side!
  }

  &__seenon-text {
  }

  &__seenon-logos {
    img {
      height: 2.5rem;
    }
  }
}
