.header {
  background-color: $color-grey-dark-1;
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(rgba($color-secondary, 0.93), rgba($color-secondary, 0.93)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;

  // start with grid container:
  display: grid;
  grid-template-rows: 1fr min-content 6rem 1fr; // this is the 80% of view-port height!
  // without this 1fr, all the rows were equally divided and that's what we don't want!
  grid-template-columns: max-content;
  grid-row-gap: 1.5rem;
  justify-content: center; // to bring all the grid row items now in the middle of the header!
  // hajic => horizontal justify content

  &__logo {
    height: 3rem;
    justify-self: center; // only nexter logo will be placed in center!
  }

  &__btn {
    align-self: start; // put the button only at the top=> start but spanned all over the row!
    justify-self: start; // place the button at the start of the row=> on top and at the left side!
  }

  &__seenon-text {
    // this is only a text and doesn't have any children, can i make a grid container if it?
    // yes , only one text without children can be a grid container too!
    // we can combile it with before sudo-element and after sudo-element and at the end,
    // we will have three items in a grid container: before sudo-element, text, after sudo-element
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    // grid-template-columns: 1fr min-content 1fr; // this is not a good option, because, it
    // both 1fr take most of the spaces equally and minimum space stays for the Seen on text which
    //  is not enough! that's why we have to use max-content
    grid-template-columns: 1fr max-content 1fr;
    // justify-content: center;
    align-items: center;
    grid-column-gap: 1.5rem;

    font-size: 1.6rem;
    color: $color-grey-light-2;

    &::before,
    &::after {
      background-color: currentColor; // the color is the same like above color: $color-grey-light-2;
      height: 1px;
      // width: 4.5rem;
      content: "";
      display: block;
    }

    &::before {
      // transform: translateX(-1rem);
      // margin-top: 50%;
    }

    &::after {
      // transform: translate(1rem);
      // transform: translateX(1rem);
    }
  }

  &__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    justify-items: center;

    img {
      height: 2.5rem;
      filter: brightness(70%); // to make these four logos: bbc, Forbes, ... a little bit darker!
      // default is 100% which is normal bright!
    }
  }
}
