.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; // sidebar start from beginning and goes to the end!

  display: flex;
  justify-content: center; // align all the items along the main axis=> hrizontal axis=>
  // hajic => horizontal justify content
  // vahi => vertical align items

  // to make it responsive for desktop first layout => max-width:1000px
  @media only screen and (max-width: $bp-large) {
    // the sidebar is not valid anymore as defined already at the top at this width
    // and we have to define it in this way => it works for equal or less than 1000px:
    grid-column: 1/-1; // the entire columns
    grid-row: 1/2; // only betwenn first and second rows!

    // to bring these three small lines at the end of the sidebar and also vertically centered!
    justify-content: flex-end;
    align-items: center;
  }
}

.nav-btn {
  border: none;
  border-radius: 0;

  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem;

  &::before,
  &::after {
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    content: "";
    display: block;
  }

  &::before {
    transform: translateY(-1.5rem);
  }
  &::after {
    transform: translateY(1.3rem);
  }

  // to make it responsive for desktop first layout => max-width:1000px
  @media only screen and (max-width: $bp-large) {
    // setting these two margins to have these three small lines aligned correctly in the
    // right side at the end.
    margin-top: 0;
    margin-right: 3rem;

    // to remove the extera spaces between these three small lines and make it more natural!
    &::before {
      transform: translateY(-1.2rem);
    }
    &::after {
      transform: translateY(1rem);
    }
  }
}
