.story {
  &__pictures {
    background-color: $color-primary;
    // grid-column: full-start / center-start;
    // grid-column: col-start 1 / col-start 5;
    grid-column: full-start / col-end 4;
  }

  &__content {
    background-color: $color-grey-light-1;
    // background-color: green;
    // grid-column: center-start / full-end;
    // grid-column: col-end 4 / full-end;
    // grid-column: col-end 4 / -1;
    // grid-column: col-start 5 / -1;
    grid-column: col-start 5 / full-end;

    padding: 6rem 12rem;
    // NOW, WE USE FLEX-BOX WITH GRID:
    display: flex; // put all the grid items side by side!
    flex-direction: column; // and now, we see all grid items in a column position and
    // that exacly what we want! and now, we also changed the axis, when we change the flex-direction
    // and now, we have the Y axis as main axios and X axis as Cross axis!, therefore,
    // we use justify-content to set the grid items in Center vertically!
    justify-content: center;
    // align-items align the items across the Cross axis(here means X axis) and default is
    // stretch but we want to change it to the flex-start which beginnt from start!
    align-items: flex-start;
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}
