.story {
  &__pictures {
    background-color: $color-primary;
    // grid-column: full-start / center-start;
    // grid-column: col-start 1 / col-start 5;
    grid-column: full-start / col-end 4;

    // to make our grid as 6*6 grid cells and place our two images in this grid:
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    // we have to use align-items:center to make the image center vertically across the cross axis
  }

  &__img--1 {
    width: 100%;
    grid-row: 2/6;
    grid-column: 2/6;
    // but as we see, the image keep its ratio and will not cover the grid 100% from 2 to 6
    // grid cells in Y direction.
    // we have to use align-items:center to make the image center vertically across the cross axis,
    // we have to do it in container => parent element => in &__pictures
    box-shadow: 0 2rem 5rem rgba($color: #000000, $alpha: 0.1);
  }

  &__img--2 {
    width: 115%;
    grid-row: 4/6;
    grid-column: 4/7;
    z-index: 20;
    box-shadow: 0 2rem 5rem rgba($color: #000000, $alpha: 0.2);
  }

  &__content {
    background-color: $color-grey-light-1;
    // background-color: green;
    // grid-column: center-start / full-end;
    // grid-column: col-end 4 / full-end;
    // grid-column: col-end 4 / -1;
    // grid-column: col-start 5 / -1;
    grid-column: col-start 5 / full-end;
    // padding: 6rem 12rem;
    padding: 6rem 8vw;
    // we use vw(view point of width) instead of rem =>in this case, when we chnage the width of the
    // page to test the page responsiveness, we see that, the width (padding) of the content
    // section changes and it is not fixed anymore!
    // summary: using vw instead of rem to make the padding changes flexible and not fixed anymore!

    /*
      // NOW, WE USE FLEX-BOX WITH GRID:
      display: flex; // put all the grid items side by side!
      flex-direction: column; // and now, we see all grid items in a column position and
      // that exacly what we want! and now, we also changed the axis, when we change the flex-direction
      // and now, we have the Y axis as main axios and X axis as Cross axis!, therefore,
      // we use justify-content to set the grid items in Center vertically!
      justify-content: center;
      // align-items align the items across the Cross axis(here means X axis) and default is
      // stretch but we want to change it to the flex-start which beginnt from start!
      align-items: flex-start;
    */

    /* as a compare, I bring the flex-box as summary here too:
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    */

    /*
    we can do the above procedure using only GRID and not GRID with FLEX-BOX:
    */
    display: grid;
    align-content: center;
    justify-items: start;
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}
